**
!package.json
!bun.lock
!tsconfig.json
!tsconfig.base.json
!packages/
!packages/**
!apps/*/package.json
!apps/server/
!apps/server/**
!apps/ui/
!apps/ui/**
**/node_modules/
**/dist/
**/*.tsbuildinfo
