STRATA_LISTEN_ADDR=:8080
STRATA_DATABASE_URL=postgres://strata:strata@localhost:5432/strata?sslmode=disable
STRATA_AUTH_MODE=dev
STRATA_DEV_AUTH_TOKEN=devtoken123
STRATA_DEV_USER_LOGIN=dev-user
STRATA_DEV_ORG_LOGIN=dev-org
STRATA_DESCOPE_PROJECT_ID=
STRATA_BLOB_BACKEND=local
STRATA_BLOB_LOCAL_PATH=./data/blobs
# For S3/MinIO:
# STRATA_BLOB_BACKEND=s3
# STRATA_BLOB_S3_BUCKET=strata-checkpoints
# STRATA_BLOB_S3_ENDPOINT=http://localhost:9000
